<!DOCTYPE html>
<html data-theme="sunset" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Endpoints</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.6/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-10">
    <h1 class="text-4xl font-extrabold pb-10">Dead Cells API endpoints</h1>

    <div class="overflow-x-auto">
        <table class="table table-xs">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>API</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Melee weapons</th>
                    <td>Weapons</td>
                    <td>/api/v1/melee-weapons</td>
                </tr>
                <tr>
                    <th>Ranged weapons</th>
                    <td>Weapons</td>
                    <td>/api/v1/ranged-weapons</td>
                </tr>
                <tr>
                    <th>Shields</th>
                    <td>Weapons</td>
                    <td>/api/v1/shields</td>
                </tr>
                <tr>
                    <th>Deployable traps</th>
                    <td>Weapons</td>
                    <td>/api/v1/deployable-traps</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>API</th>
                </tr>
            </tfoot>
        </table>
    </div>
</body>

</html>